html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

/*============bootstrap4-5===============*/

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.b {
    font-weight: bold;
}

.text-break-tail {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.clickable {
    transition: background-color 0.3s ease-in-out;
}

    .clickable:hover {
        background-color: #eee;
    }

    .clickable:active {
        background-color: #ddd;
    }


.clickable-outline {
    transition: border 0.3s ease-in-out;
}

    .clickable-outline:hover {
        border: 1px solid #aaa; /* 修改为你所需的悬停时的边框颜色 */
    }

    .clickable-outline:active {
        border: 1px solid #888; /* 修改为你所需的点击时的边框颜色 */
    }

.jsclickable {
    transition: background-color 0.2s ease-in-out;
}

.jsclickable-hover {
    background-color: #eee;
}

.jsclickable-active {
    background-color: #ddd;
}

.jsclickable-outline {
    transition: border 0.2s ease-in-out;
}

.jsclickable-outline-hover {
    border: 1px solid #aaa; /* 修改为你所需的悬停时的边框颜色 */
}

.jsclickable-outline-active {
    border: 1px solid #888; /* 修改为你所需的点击时的边框颜色 */
}
