@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Silmoon.AspNetCore.Test.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sm-mobile-test.css" asp-append-version="true" />
    <link rel="stylesheet" href="//static.silmoon.com/lib/sm-upload/sm-upload.css" />
    <link rel="stylesheet" href="//static.silmoon.com/lib/metroui-confirm/metroui-confirm.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="//static.silmoon.com/scripts/silmoon/toast.js"></script>
    <script src="//static.silmoon.com/scripts/silmoon/common.js"></script>
    <script src="//static.silmoon.com/lib/sm-upload/sm-upload.js"></script>
    <script src="//static.silmoon.com/lib/metroui-confirm/metroui-confirm.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />*@
    @*<base href="~/" />*@
</head>
<body class="smm-body" onselectstart="return false;">
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script type="text/javascript">
        function pushWebPage(url) {
            appInvoke("pushWebPage", url);
        }
        function pushAppPage(url) {
            appInvoke("pushAppPage", url);
        }
        function pushModalWebPage(url) {
            appInvoke("pushModalWebPage", url);
        }
        function pushModalAppPage(url) {
            appInvoke("pushModalAppPage", url);
        }
        function appInvoke(method, data) {
            if (typeof appReceiveCall == "function") {
                if (typeof data == "undefined") data = "";
                appReceiveCall(method, data);
            } else {
                if (method == "pushWebPage") {
                    if (data.indexOf("http") == 0 || data.indexOf("/") == 0) {
                        window.location.href = data;
                    } else {
                        window.location.href = "/App/" + data;
                    }
                }
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @*<script src="~/_framework/blazor.server.js"></script>*@
    @*<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>*@
</body>
</html>
