<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Silmoon.AspNetCore.Test.styles.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/blazor-reconnect.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="//static.silmoon.com/scripts/silmoon/toast.js"></script>
    <script src="//static.silmoon.com/scripts/silmoon/common.js"></script>
    <script src="//static.silmoon.com/lib/metroui-confirm/metroui-confirm.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <HeadOutlet />
</head>

<body>
    <BlazorReconnect />
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/session.js"></script>
</body>

</html>
